#google_lens{
    width: 100px;
}
.header{
    font-size: 23px;
    width: 100%;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.header span{
    font-size: 23px;
}
.bob {
    background: #949494;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 18px grey;
}
